<html>
    <body>
        <table>
        <tr>
        <th>id</th>
        <th>linguagem</th>
        </tr>
        <tr for (linguagem in data.livros)>
        <td>${linguagem.id}</td>
        <td>${linguagem.titulo}</td>
        </tr>
        </table>
    </body>
</html>